@charset "utf-8";

body{
    background:linear-gradient(to right, #232526,#414345);
    justify-content: center;
    align-items: center;
    height: 100vh;
	margin: auto;     
	padding: 3px 0px 3px 0px; /* 상단화면과 시계사이 간격 */}
	
 /* margin: 0 auto; 테이블 가운데정렬 */	
table{border-spacing:0px;border-style:none;padding:0px; margin: 0 auto;}
td{border-spacing:0px;border-style:none;padding:0px;}



/*CSS : 시계를 꾸미는 부분*/
.header{
    width: 10.9rem;
    height: 1.25rem;
    margin: auto;
    text-align: center;
    color: #f4f4f4;
    background-color: black;
    padding: 0.125rem 0px; /*  LED창과 시계와의 상하간격 10px사용  */
}
#Clock{
    color: #F0C420;
    font-size: 1.25rem;
}
#Clockday{
    color: #F0C420;
}


/* 전광판 구역 틀고정시키기 */
table > tbody > tr:nth-of-type(2){
  position: sticky;
  top: 0;
}


.wrap1 {   /* 큐브회전이미지부분 */
/*    position: fixed;    큐브 고정이미지 */
	color: aliceblue;
	width: 1.25rem;   /* 아래position설정으로 잠겨서 가로세폭이안먹히는거같음! */
	height: 1.18rem;
	margin: center;
	padding: 1px 0px 0px 1px;
    
}

.wrap2 {   /* 전광판 LED창 */
	color: aliceblue;
    margin: 0 auto;
	width: 100%; /* LED 글자창 너비 */
	height: 20px;
    line-height: 20px;
	padding: 0 66px; /* LED창 길이변 */
	background-image: url("image/bg.gif");
	border-radius: 10px 10px 5px 5px;
}
.cube{
    width: 1.43rem; /* 23px */
    height: 1.43rem;
	padding: 1px 0 0 0;
    transform-style: preserve-3d;
    transform: rotateX(0);  /* rotatex()값을 변경하면 튜브가 각도만큼 회전한다.  */
    transition: all 2s;
}

.cube img{
    position: absolute;
    top: 0;
    left: 0;
}

.cube img:nth-child(1){
    transform: translateZ(11px);
}

.cube img:nth-child(2){
    transform: rotateX(90deg) translateZ(11px);
}

.cube img:nth-child(3){
    transform: rotateX(180deg) translateZ(11px);
}

.cube img:nth-child(4){
    transform: rotateX(270deg) translateZ(11px);
}

a {
  text-decoration-line: none;  /* 링크 밑줄쳐진것들 제거  */
  color: #ffffff;
}




/* LED 스크린 */

#billboard-container {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
  }
  
  #billboard {
    display: inline-block;
    padding-left: 100%;
    animation: marquee 20s linear infinite;
    position: relative;
    animation-fill-mode: forwards;
  }

billboard > img{
  box-sizing: border-box;
  padding-top: 10px;
}
  
#billboard > span {
  display: inline-block;
  margin-bottom: 5px;
  font-size: 18px;
  line-height: 18px;
}



  @keyframes billboard {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
  }



.no{     /* NO 숫자 제목부분 */
    width: 1.56rem;    /* 25px */
    height: 1.56rem;
    border:1px solid;
    text-align: center;
    padding: 0.625rem 0;
    font-size:0.6em; /* 12px */
    color:#1690E4;
}
.name{    /* 이름 제목부분 */
    width: 3.5rem;    /* 90px */
    height:1.56rem;
    border:1px solid;
    text-align: center;
    font-size:1.2em;  /* 20px */
	font-weight: bold;
    color:#1690E4;
	letter-spacing: 6;
}
.tel{     /* 전화번호 제목부분 */
    width:6rem;     /* 180px */
    height:1.56rem;
    border:1px solid;
    text-align: center;
    font-size:1.2em;  /* 20px */
	font-weight: bold;
    letter-spacing:5;
    color:#1690E4;
}
.address{		/* 주소 제목부분 */
    width: 3rem;   /* 60px */
    height: 1.56rem;   /* 25px */
    border:1px solid;
    text-align: center;
    padding: 0.375rem 0;
    font-size:0.9em;  /* 12px */
    color:#1690E4;
}
.remark{		/* 비고 제목부분 */
    width: 2.5rem;    /* 60px */
    height: 1.56rem;
    border:1px solid;
    text-align: center;
    padding: 0.375rem 0;
    font-size:0.9em;  /* 15px */
    color:#1690E4;
}
.sms{		/* SMS 문자메세지 제목부분 */
    width: 2.5rem;     /* 60px */
    height: 1.56rem;
    border:1px solid;
    text-align: center;
    padding: 0.375rem 0;
    font-size:1.2em;  /* 15px */
	font-weight: bold;
    color:#1690E4;
}
.no_1 {  	/* NO 숫자 소제목부분 */
    width: 1.56rem;   /* 25px */
    height: 1.56rem;   /* 25px */
    border:1px solid;
    text-align: center;
    padding: 0.625rem 0; /* 10px */
	font-size:0.8em;  /* 12px */
    color: #ffffff;
}
.no_2 a{
    font-size:0.8em;
    color: #232526;
}

.name_1{		/* 이름 소제목부분 */
    width: 3.5rem;    /* 90px */
    height: 1.56rem;   /* 25px */
    border:1px solid;
    text-align: center;
    font-size:1.1em;  /* 20px */
    color:#ffffff;
	letter-spacing: 6;
}
.tel_1{		/* 전화번호 소제목부분 */
    width:6rem;     /* 180px */
    height: 1.56rem;   /* 25px */
    border:1px solid;
    text-align: center;
    font-size:1.1em;  /* 20px */
    letter-spacing:5;
    color:#ffffff;
}
.address_1{		/* 주소 소제목부분 */
    width: 3rem;     /* 60px */
    height: 1.56rem;   /* 25px */
    border:1px solid;
    text-align: center;
    padding: 6px 0;
    font-size:0.8em;  /* 12px */
    color:#ffffff;
}
.remark_1{		/* 비고 소제목부분 */
    width:  2.5rem;     /* 60px */
    height: 1.56rem;   /* 25px */
    border:1px solid;
    text-align: center;
    padding: 6px 0;
    font-size:0.8em;  /* 15px */
    color:#ffffff;
}
.sms_1{		/* SMS메세지 소제목부분 */
    width:  2.5rem;     /* 60px */
    height: 1.56rem;  /* 25px */
    border:1px solid;
    text-align: center;
    padding: 0.37rem 0;
    font-size:1em;  /* 15px */
    color:#ffffff;
}
.max-small {        /* sms문자메세지 이미지부 */
    
    width: 1.31rem;  /* 21px */
    height: 1.31rem;  /* 21px */
	margin: center;
	text-align: center;
}

.foot{
	display: block;
	color: antiquewhite;
	font-size: 0.8em;
	height: 1.87rem;  /* 30px */
	margin-top: 1.87rem;  /* 30px */
	text-align: center
}
.gototop{    /* 우측제일하단 화살표를 누르면 제일위로 이동하게한다. */

    position: fixed;
    left:18.5rem;  /* 296px; */
    bottom: 1.56rem; /* 25px; */
}
.gototop .fa{    /* 우측제일하단 화살표를 누르면 제일위로 이동하게한다. */
    background-color: #fff;
    border: 1px solid lightgray;
    width: 1.1em;  /* 20px */
    height: 1.1em;  /* 20px */
    border-radius: 50%;
    line-height: 2.5rem;  /* 40px; */
    font-size: 1.5rem;  /* 24px; */
    cursor: pointer;
    transition: 0.3s;
}
.gototop .fa:hover{  /* 우측제일하단 화살표를 누르면 제일위로 이동하게한다.*/
    background-color: #838180;
    color:#FFFFFF;
}










/* ======================================================================= */
/* ======================================================================= */






/* 스크린화면이 400픽셀이하일때는 전화연락망 메뉴중에서 비고란은 없앤다.  */
@media (min-width: 320px) and (max-width: 400px) {
  
  #billboard > span {
  display: inline-block;
  margin-bottom: 5px;
  font-size: 16px;
  line-height: 16px;
}

  .remark{		/* 비고 소제목부분 */
      display: none;
  }




  .remark_1{		/* 비고 소제목부분(개인별) */
      display: none;
  }
  
  
.no{     /* NO 숫자 제목부분 */
    width: 1.56rem;    /* 25px */
    height: 1.56rem;
    border:1px solid;
    text-align: center;
    padding: 0.625rem 0;
    font-size:0.6em; /* 12px */
    color:#1690E4;
}
.name{    /* 이름 제목부분 */
    width: 3rem;    /* 90px */
    height:1.56rem;
    border:1px solid;
    text-align: center;
    font-size: 1em;  /* 20px */
	font-weight: bold;
    color:#1690E4;
	letter-spacing: 6;
}
.tel{     /* 전화번호 제목부분 */
    width:5rem;     /* 180px */
    height:1.56rem;
    border:1px solid;
    text-align: center;
    font-size: 1em;  /* 20px */
	font-weight: bold;
    letter-spacing:5;
    color:#1690E4;
}
.address{		/* 주소 제목부분 */
    width: 2.5rem;   /* 60px */
    height: 1.56rem;   /* 25px */
    border:1px solid;
    text-align: center;
    padding: 0.35rem 0;
    font-size:0.8em;  /* 12px */
    color:#1690E4;
}

.sms{		/* SMS 문자메세지 제목부분 */
    width: 2.2rem;     /* 60px */
    height: 1.56rem;
    border:1px solid;
    text-align: center;
    padding: 0.35rem 0;
    font-size: 0.8em;  /* 15px */
	font-weight: bold;
    color:#1690E4;
}


.name_1{		/* 이름 소제목부분 */
    width: 3rem;    /* 90px */
    height: 1.56rem;   /* 25px */
    border:1px solid;
    text-align: center;
    font-size: 1em;  /* 20px */
    color:#ffffff;
	letter-spacing: 6;
}
.tel_1{		/* 전화번호 소제목부분 */
    width: 5rem;     /* 180px */
    height: 1.56rem;   /* 25px */
    border:1px solid;
    text-align: center;
    font-size: 1em;  /* 20px */
    letter-spacing:5;
    color:#ffffff;
}
.address_1{		/* 주소 소제목부분 */
    width: 2.5rem;     /* 60px */
    height: 1.56rem;   /* 25px */
    border:1px solid;
    text-align: center;
    padding: 0.35rem 0;
    font-size:0.8em;  /* 12px */
    color:#ffffff;
}

.sms_1{		/* SMS메세지 소제목부분 */
    width:  2.2rem;     /* 60px */
    height: 1.56rem;  /* 25px */
    border:1px solid;
    text-align: center;
    padding: 0.35rem 0;
    font-size: 0.8em;  /* 15px */
    color:#ffffff;
}
.max-small {        /* sms문자메세지 이미지부 */
    
    width: 1.28rem;  /* 21px */
    height: 1.28rem;  /* 21px */
	margin: center;
	text-align: center;
}

.foot{
	display: block;
	color: antiquewhite;
	font-size: 0.8em;
	height: 1.87rem;  /* 30px */
	margin-top: 1.87rem;  /* 30px */
	text-align: center
}
.gototop{    /* 우측제일하단 화살표를 누르면 제일위로 이동하게한다. */

    position: fixed;
    left:18.5rem;  /* 296px; */
    bottom: 1.56rem; /* 25px; */
}
.gototop .fa{    /* 우측제일하단 화살표를 누르면 제일위로 이동하게한다. */
    background-color: #fff;
    border: 1px solid lightgray;
    width: 1.1em;  /* 20px */
    height: 1.1em;  /* 20px */
    border-radius: 50%;
    line-height: 2.5rem;  /* 40px; */
    font-size: 1.5rem;  /* 24px; */
    cursor: pointer;
    transition: 0.3s;
}
.gototop .fa:hover{  /* 우측제일하단 화살표를 누르면 제일위로 이동하게한다.*/
    background-color: #838180;
    color:#FFFFFF;
}



  
}




