@charset "utf-8";

body{
  
    background:linear-gradient(to right, #232526,#414345);
    justify-content: center;
    align-items: center;
    height: 100vh;
	margin: auto;     
  }
	
 /* margin: 0 auto; 테이블 가운데정렬 */	
table{border-spacing:0px;border-style:none;padding:0px; margin: 0 auto;}
td{border-spacing:0px;border-style:none;padding:0px;}




/* 전체 넓이 지정 */
.container {
/*  border: 3px solid red;*/
  width: 360px;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}



section {    
  margin: 0;
  padding: 0;
}


/*CSS : 시계를 꾸미는 부분*/
.header{
    position: fixed;
    width: 100%;
    height: 88px;
    margin: 0;
    text-align: center;
    color: #f4f4f4;
    background-color: black;
    padding: 0; /*  LED창과 시계와의 상하간격 10px사용  */
    box-sizing: border-box;
}
#Clock{
;
    color: #F0C420;
    font-size: 1.25rem;
}
#Clockday{
    color: #F0C420;
}





/* body */


.wrap1 {   /* 큐브회전이미지부분 */
    position: fixed;    
	color: aliceblue;
	width: 1.25rem;   /* 아래position설정으로 잠겨서 가로세로폭이안먹히는거같음! */
	height: 1.18rem;
	margin-left: 5px;
    margin-top: -33px;
	padding: 1px 0px 0px 1px;
    z-index: 10;
    
}

  .wrap1 > .cube{
      width: 1.43rem; /* 23px */
      height: 1.43rem;
      margin-top: 94px;
      padding: 1px 0 0 0;
      transform-style: preserve-3d;
      transform: rotateX(0);  /* rotatex()값을 변경하면 튜브가 각도만큼 회전한다.  */
      transition: all 2s;
  }

  .wrap1 > .cube img{
      position: absolute;
      top: 0;
      left: 4px;
  }

  .wrap1 > .cube img:nth-child(1){ /* 1번째 이미지 */
      transform: translateZ(11px);
  }

  .wrap1 > .cube img:nth-child(2){ /* 2번째 이미지 */
      transform: rotateX(90deg) translateZ(11px);
  }

  .wrap1 > .cube img:nth-child(3){ /* 3번째 이미지 */
      transform: rotateX(180deg) translateZ(11px);
  }

  .wrap1 > .cube img:nth-child(4){ /* 4번째 이미지 */
      transform: rotateX(270deg) translateZ(11px);
  }

a {
  text-decoration-line: none;  /* 링크 밑줄쳐진것들 제거  */
  color: #ffffff;
}



.wrap2 {   /* 전광판 LED창 */
    position: fixed;
    top: 61px;
    left: 0;
    right: 0;
  
	color: aliceblue;
    margin: 0 auto;
	width: 100%; /* LED 글자창 너비 */
	height: 30px;
    line-height: 20px;
	padding: 0 66px; /* LED창 길이변 */
	background-image: url("image/bg.gif");
	border-radius: 3px 3px 0px 0px;
}
  

#billboard-container { /* 전광판 LED창 */
  width: 70%;  /* LED창 텍스트보여주는 면적공간 */
  height: 100%;
/*  border: 1px solid red;*/
  margin: 0 center;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  }
  
  #billboard {
    display: inline-block;
    padding-left: 100%;
    animation: billboard 20s linear infinite;
    position: relative;
    animation-fill-mode: forwards;
  }

  #billboard > img{
    box-sizing: border-box;
    padding-top: 7px;
  }

  #billboard span {  /* (텍스트)직지초35회 */
    display: inline-block;
    height: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    padding-bottom: 5px;
    font-size: 17px;
    line-height: 17px;
  }


  @keyframes billboard {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
  }




 /* 테이블 목록(소제목/회원 목록) */
.container > table { 
  width: 100%;
  margin-top: 89px; /* 테이블 가려진것을 밑으로 내린다 */
  padding: 0;
}

.container > table tbody {
/*  position: relative;*/
  width: 100%;
  margin: 0;
  padding: 0;
}


th.no{     /* NO 숫자 제목부분 */
    width: 10px;   
    height: 2.5rem;
    border:1px solid;
    text-align: center;
    font-size:0.6em; /* 12px */
    color:#1690E4;
}

th.name {    /* 이름 제목부분 */
/*    width: 3.5rem;    */
    width: 25px;  
    height: 2.5rem;
    border:1px solid;
    text-align: center;
    font-size:0.9em;  
	font-weight: bold;
    color:#1690E4;

}
th.tel{     /* 전화번호 제목부분 */
/*    width:6rem;    */
    width: 50px;  
    height: 2.5rem;
    border:1px solid;
    text-align: center;
    font-size:0.9em;  /* 20px */
	font-weight: bold;

    color:#1690E4;
}
th.address{		/* 주소 제목부분 */
/*    width: 3rem;   */
    width:  23px;   
    height: 2.5rem;
    border:1px solid;
    text-align: center;
    font-size:0.8em;  
    color:#1690E4;
}


.remark{	/* 비고(회장,총무) 소제목부분 */
    width: 23px;  
    height: 2.5rem;
    border:1px solid;
    text-align: center;
    font-size:0.8em; 
    color:#1690E4;
}


th.sms{		/* SMS 문자메세지 제목부분 */
/*    width: 2rem;   */
    width: 20px;  
    height: 2.5rem;
    border:1px solid;
    text-align: center;
    font-size:0.9em; 
	font-weight: bold;
    color:#1690E4;
}






td.no_1 {  	/* NO 숫자 소제목부분 */
    width: 10px;  
    height: 2.5rem;
    border:1px solid;
    text-align: center;
	font-size:0.8em; 
    color: #ffffff;
}
td.no_2 a{
    font-size:0.6em;
    color: #232526;
}

td.name_1 { /* 이름 소제목부분 */
/*    width: 3.5rem;    */
    width: 25px;   
    height: 2.5rem;
    border:1px solid;
    text-align: center;
    font-size:0.9em;  
    color:#ffffff;

}
td.tel_1{	/* 전화번호 소제목부분 */
/*    width:6rem;    */
    width: 50px;  
    height: 2.5rem; 
    border:1px solid;
    text-align: center;
    font-size:0.9em;  

    color:#ffffff;
}
td.address_1{	/* 주소 소제목부분 */
/*    width: 3rem;    */
    width: 23px;  
    height:2.5rem;
    border:1px solid;
    text-align: center;
    font-size:0.8em; 
    color:#ffffff;
}


.remark_1{	/* 비고(회장,총무) 소제목부분 */
    width: 23px; 
    height: 2.5rem;
    border:1px solid;
    text-align: center;
    padding: 6px 0;
    font-size:0.8em; 
    color:#ffffff;
}


td.sms_1{	/* SMS메세지 소제목부분 */
/*    width:  2rem;    */
    width: 20px;  
    height: 2.5rem;
    border:1px solid;
    text-align: center;
    font-size: 0.9em; 
    color:#ffffff;
}





img.max-small {  /* sms문자메세지 이미지부 */
    width: 1rem; 
    height:  1rem;
/*	margin: center;*/
	text-align: center;
}




.foot{
	display: block;
	color: antiquewhite;
	font-size: 0.8em;
	height: 1.87rem;  
	margin-top: 1.87rem;  
	text-align: center
}

.gototop{    /* 우측제일하단 화살표를 누르면 제일위로 이동하게한다. */

    position: fixed;
    left:18.5rem; 
    bottom: 1.56rem; 
}

.gototop .fa{    /* 우측제일하단 화살표를 누르면 제일위로 이동하게한다. */
    background-color: #fff;
    border: 1px solid lightgray;
    width: 1.1em; 
    height: 1.1em;  
    border-radius: 50%;
    line-height: 2.5rem; 
    font-size: 1.5rem; 
    cursor: pointer;
    transition: 0.3s;
}

.gototop .fa:hover{   /* 우측제일하단 화살표를 누르면 제일위로 이동하게한다.*/
    background-color: #838180;
    color:#FFFFFF;
}










/* ======================================================================= */
/* ======================================================================= */






/* 스크린화면이 400픽셀이하일때는 전화연락망 메뉴중에서 비고란은 없앤다.  */
@media screen and (max-width: 580px) {
  


  
  
  .remark{	/* 테이블 셀제목 '비고' 칼럼명 숨김 */
    display: none;
  }


  .remark_1{	/* 테이블 셀제목 '비고' 칼럼명 숨김 */	
    display: none;
  }
  
  

}




