
body {
    margin: 0;
    /* line-height: 1.6em; */
    font-size: 16px;
 }



.container {
    width: 100%;
	/* width: 1080px; */
	position: relative;
	margin: 0 auto; /* 컨테이너 좌우 중앙정렬  */
}




/* Section : Hero */

a.navbar-brand{
    /* display: block; */
    color: rgb(104, 126, 237);

}

/* select 선택자 - Home */
#offcanvasDarkNavbar > div.offcanvas-body > ul > li:nth-child(1) > a > h2{
    display: block;
    color: rgb(61, 92, 247);

}

/* select 선택자 - 동기회치보기 */
#offcanvasDarkNavbar > div.offcanvas-body > ul > li:nth-child(2) > a:nth-child(1) > span{
    display: block;
    color: rgb(187, 146, 241);

}


/* select 선택자 - (X페이지) */
#offcanvasDarkNavbar > div.offcanvas-body > ul > li:nth-child(2) > a:nth-child(1) > span{
    display: block;
    color: rgb(205, 177, 242);

}


/* select 선택자 - (dropdown) */
#offcanvasDarkNavbar > div.offcanvas-body > ul > li.nav-item.dropdown > a{
    display: block;
    color: rgb(226, 209, 248);

}











