/* 반응형 웹페이지를 만드는것이기 때문에 여기 CSS에서는 아래 구간에
   @media (max-width:580px) { } 를 만들었으니 채워넣어야한다.
*/

@charset "utf-8";

*{ box-sizing: border-box; } /* 박스틀이 깨지지않게 */


body {
    width:35rem;  /* 기준치로 640px 로잡았으니 손대지말것 */
    padding: 0;
    margin:0 auto;
    height: 100vh;
    text-align: center;
    background: rgb(205, 142, 142);

}




#wrap {
    position: relative;
    text-align: center;
    padding: 15px 15px;
    margin: 0 auto;
    width:100%;
    height:120vh;  

}

/* 황악회칙 전체화면 */ 
#wrap > section{

    float:left;
    padding: 15px 15px;
    width: 100%;
    height: 130vh;   /* 1500px; */
    background: rgb(205, 142, 142);
    text-align: center;
    text-align-last: left;

    }





/* index1 ~index6.html  */
header{
    width:100%;
    height:3rem;
    text-align: center;
    background: #2E7FA4 ;
    border-radius: 10px 10px 5px 5px;
    
}

/* index1.html ~ 6페이지 */
body > div > div > div > header > h1{   /* 직지초 35회 동기회칙 타이틀제목 */
        
    width:100%;
    vertical-align: middle;
    padding: 4px 0 0 0;
    font-size: 2.0rem;
    font:bold; 
    justify-content: center;
    color:sandybrown;
    box-sizing: border-box;
    text-align: center;
    border-radius: 10px 10px 5px 5px;
}
    
body > div > div > div > section > h2{
    font-size: 1.8rem;
    color: blue;
}

body > div > div > div > section > h2:nth-child(4){
    font-size: 1.6rem;
}

body > div > div > div > section > h2:nth-child(15){
    font-size: 1.6rem;
}

body > div > div > div > section > h2:nth-child(20){
font-size: 1.6rem;
}

body > div > div > div > section > h2:nth-child(22){
    font-size: 1.6rem;
}

body > div > div > div > section > h2:nth-child(23){
    font-size: 1.6rem;
}


body > div > div > div > section > h3{
    font-size: 1.4rem;
}




/* @media 는 반응형으로 변할수있게 설정하는 부분이다. 640px너비이하로 되면
아래형식으로 변화시키라는 의미이다.  */
@media screen and (max-width: 570px){

body {
    width:25rem;  /* 기준치로 400px 로잡았으니 손대지말것 */
    padding: 0 auto;

    height: 120vh;
    text-align: center;
    background: rgb(205, 142, 142);

}


/* 황악회칙 텍스트  */
#wrap {
    position: relative;
    text-align: center;
    padding: 10px 5px;
    margin: 5px 3px 5px 3px;
    width:95%;
    height:100vh;  

}

/* 황악회칙 전체화면 */ 
#wrap > section{

    float:center;
    padding: 10px 3px;
    width: 100%;
    height: 130vh;   /* 1500px; */
    background: rgb(205, 142, 142);
    text-align: center;
    text-align-last: left;

    }

    /* index1.html ~ 6페이지 */
#wrap > header > h1{
        
    width:100%;
    vertical-align: middle;
    font-size: 1.7rem;
    font:bold; 
    justify-content: center;
    color:sandybrown;
    box-sizing: border-box;
    text-align: center;
    border-radius: 10px 10px 5px 5px;
}
    

#wrap > header{
        
    width:100%;
    vertical-align: middle;
    font-size: 1.7rem;
    font:bold; 
    justify-content: center;
    color:sandybrown;
    box-sizing: border-box;
    text-align: center;
    border-radius: 10px 10px 5px 5px;
}
    


}
























