/* 반응형 웹페이지를 만드는것이기 때문에 여기 CSS에서는 아래 구간에
   @media (max-width:580px) { } 를 만들었으니 채워넣어야한다.
*/

@charset "utf-8";

*{ box-sizing: border-box; } /* 박스틀이 깨지지않게 */


body {
    width:25rem;  /* 기준치로 470px 로잡았으니 손대지말것 */
    padding: 0;
    margin:0 auto;
    height: 100vh;
    text-align: center;
    background-color: #000;

}




/* 상단의 네비게이션바 허용 너비를 지정했다  */ 
.navbar.navbar-dark.bg-dark.fixed-top{
    position: absolute;
    width:100%;   

}



/* 햄버거버튼 누르면 열리는 화면 */
#offcanvasDarkNavbar{

    width: 100%;
}




.navbar-toggler{

    padding-right:0.62rem ; /* 10px */
}


body > nav > div > button > span{

    padding-right:0.62rem ;    
}






/* 황악회칙 텍스트  */
#wrap {
    position: relative;
    text-align: center;
    padding: 0 5px 0 0;
    margin: 0 auto;
    width:100%;
    height:150vh;  


}




/* index1 ~index6.html  */
header{
    width:100%;
    height:3rem;
    background: #2E7FA4 ;
    border-radius: 10px 10px 5px 5px;
    
}

/* index1.html ~ 6페이지 */
#wrap > header > h1{
        
        width:100%;
        border-style:outset;
        font-size: 1.8rem;
        font:bold; 
        justify-content: center;
        color:sandybrown;
        box-sizing: border-box;
        text-align: center;
        border-radius: 10px 10px 5px 5px;
    }
    


#current{
    padding: 0 0 0 1px;
    font-size: 1em;
    font-weight: bold;
    color: rgb(251, 248, 248);
}


.left_column_boxes{
    padding: 2.5rem 0.625rem;  /* 40px 10px; */
}



/* 황악회칙 전체화면 */ 
#wrap > section{

        float:left;
        padding: 50px 10 0 15px;
        width: 100%;
        height: 120vh;   /* 1500px; */
        background: rgb(250, 248, 248);
        text-align: justify;
        text-align-last: left;

    }





#kakaotalk{
    background: #97cce4 ;
}



.kakaotalk img{
    margin:0;
    padding:0;
    display: inline-block;
    vertical-align: middle;
    width: 2rem;
    height: 2rem;
    
}


body > div > nav{

    height: 100vh;
    width: 90%;

}


/* 직지35회 황악회 메뉴 */
#offcanvasDarkNavbarLabel{
    color: rgb(244, 115, 55);
    font-size: 1.8em;
    margin-left: 1.8rem;
}


/* 황악회칙보기 Box */
.d-flex.gap-5.justify-content-center{
	position: absolute;
	padding: 25px 0 0 20px;
	margin: 500px 0 0 0 0;
}


/* Dropdown 펼핌메뉴 */
li.nav-item.dropdown{
	padding-top: 350px;

}



/* Home 메뉴 */
#offcanvasDarkNavbar > div.offcanvas-body > ul > li:nth-child(1) > a > h2{
    color: rgb(126, 135, 251);
    font-size: 1.4em;
    margin-left: 1.8rem;
}



/* 동기회칙 보기 메뉴 */
.nav-link > span{
    color: rgb(188, 192, 249);
    font-size: 1.3em;

}


/* (*페이지) 메뉴 */
#offcanvasDarkNavbar > div.offcanvas-body > ul > li:nth-child(2) > a{
    color: rgb(225, 218, 236);
    font-size: 0.7em;
    margin-left: 1.8rem;

}





/* Dropdown 메뉴 */
#offcanvasDarkNavbar > div.offcanvas-body > ul > li.nav-item.dropdown > a{
    color: rgb(126, 135, 251);
    font-size: 1.4em;
    margin-left: 1.8rem;

}

/* 6 - X 페이지의   */
#offcanvasDarkNavbar > div.offcanvas-body > ul > li.nav-item.dropdown > ul > li:nth-child(1) > a{
    margin-left: 1.8rem;
}

#offcanvasDarkNavbar > div.offcanvas-body > ul > li.nav-item.dropdown > ul > li:nth-child(3) > a{
    margin-left: 1.8rem;
}

#offcanvasDarkNavbar > div.offcanvas-body > ul > li.nav-item.dropdown > ul > li:nth-child(5) > a{
    margin-left: 1.8rem;
}




/* 상단의 네비바 밑에서 부터 동영상부분 허용 너비를 지정했다  */ 
.hero{
    width:100%;   
    margin:0;
    position:  absolute;
}


/* 상단의 네비바 밑 동영상부분  */
body > div > div.hero{

    border: 5px solid red;
    height: 100vh;
    width: 100%;
    position: absolute;
    overflow: hidden; /* 동영상 화면이 넘치는걸 숨겨준다  */
    display: block; /* 텍스트를 중앙정렬한다.  */
    justify-content: center;  /* 텍스트를 좌우 중앙정렬한다.  */
    align-items: center;  /* 수직중앙 정렬  */
    background: linear-gradient(to left,black,transparent); /* 우측으로 갈수록 어두워진다.  */
}

/* 동영상 화면 */
.hero video {
    margin-top:28px;
    position: absolute;
    width: 100%;
    /*min-width: 100%;*/
    min-height: 20vh;
    z-index: -1;  /*heading 텍스트문자가 동영상위로 나타나게 한다.  */
    display: block;
}



/* 동영상 화면 공간 */
.hero .heading {
    text-align: center;
    width: 100%;
    color: #fff;

    
}

/* 동영상화면속에 삽입할 글자 */
.hero .heading h1{
    margin-top: 50%;  /* 글자 아래로 내리기 */
    font-weight: 900;  /* 글자 굵기를 정하는 수치 */
    line-height: 1.6em;
    font-size: 100%;
    position: absolute;   /* left: 50%; transform: translateX(-50%); */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}




.hero .heading span{
    display: block;
    color: crimson;

}


















/* @media 는 반응형으로 변할수있게 설정하는 부분이다. 768px너비이상이 되면
아래형식으로 변화시키라는 의미이다.  이하일때 변화는 max-width사용 */
@media screen and (min-width: 768px){



    .box::-webkit-scrollbar {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
        display: none; /* Chrome, Safari, Opera*/
    }

    body {
        width:30rem;  /* 기준치로 576px 로잡았으니 손대지말것 */
        padding: 0;
        margin:0 auto;
        text-align: center;
        background-color: rgb(251, 251, 251);
        height: 100vh;
    }    

    



    /* 상단의 네비게이션바 허용 너비를 지정했다  */ 
    .navbar.navbar-dark.bg-dark.fixed-top{
        padding: 0;
        margin:0 auto;
    }

    body > nav > div{
        width:100%;  /* 기준치로 576px 로잡았으니 손대지말것 */
        padding: 0;
        margin:0 auto;

    }

    nav.navbar.navbar-dark.bg-dark.fixed-top{

        width: 100%;
        overflow: hidden;
        display: inline;
    }


        
    /* Home navbar 좌측상단 텍스트  */
    a.navbar-brand{
        font-size: 1.2rem;
    }

    .navbar-toggler{

        padding-right:0.62rem ; /* 10px */
    }

    /* 햄버거버튼 누르면 열리는 화면 */
    #offcanvasDarkNavbar{

        width: 100%;
    }



    /* 상단의 네비바 밑에서 부터 동영상부분 허용 너비를 지정했다  */ 
    .hero{
        width:20rem;   /* 기준치로 1000px 로잡았으니 손대지말것 */
        margin:0;
        position:  absolute;
    }



    /* index1.html ~ 6페이지 */
    header{
        display: block;
        width:100%;
        height:2.2rem;
        background: #2E7FA4 ;
        border-radius: 5px;

    }

    /* index1.html ~ 6페이지 */
    header h1{
        /* position: relative; */
        left: 0px ;
        float:none; 
        width:100%; 
        top: -3px;
        box-shadow:10px 10px 10px 2px rgba(0,0,0,0.2);
        font-size: 0.8em;
        color:sandybrown;
        text-align: center;
        border-radius: 5px;

    }
        
    #kakaotalk {
        margin: 1.6rem 0;
    }    

        
    .left_column_boxes{
        display: none;
    }
        
    .fa-download{  
        display: inline;
        padding: 0 0 0 2.4rem;
        color:#A673AF;
    }
        
    



    span.music{
        position: inline-block;
        text-align: center;
    }



    .left_column_boxes .name-1,
    .left_column_boxes .name-2 {
        border: 1px solid #999;
        width: 6.37rem;
        height: 1.25rem;
        text-align: middle;
    }


    a {
        text-decoration-line: none;
    }    
    



    body > div > nav{

        height: 100vh;
        width: 100%;

    }


    /* index1 ~index6.html  */
    #wrap {
        margin: auto;
        width:100%;
        height:100vh;   /* 1500px; */
    }



    /* index1.html ~ 6페이지 */
    #wrap > header > h1{
            
        width:100%;
        border-style:outset;
        font-size: 1.6rem;
        font:bold; 
        justify-content: center;
        color:sandybrown;
        box-sizing: border-box;
        text-align: center;
        border-radius: 10px 10px 5px 5px;
    }


    /* 황악회칙전체화면 */
    #wrap > section{

        float:left;
        padding: 50px 0 0 15px;
        width: 100%;
        height: 120vh;   /* 1500px; */
        background: rgb(250, 248, 248);
        text-align: justify;
        text-align-last: left;

    }


    /* 황악회칙 텍스트  */
    section{
            float:none; 
            width:100%; 
            height: 100vh;
        }




    /* 네비게이션바 아래 전체 */
    body > div > div.hero{

        border: 5px solid red;
        height: 100vh;
        width: 100%;
        position:  relative;
        overflow: hidden; /* 동영상 화면이 넘치는걸 숨겨준다  */
        display: block; /* 텍스트를 중앙정렬한다.  */
        justify-content: center;  /* 텍스트를 좌우 중앙정렬한다.  */
        align-items: center;  /* 수직중앙 정렬  */
        /*    background-color: rgba(0,0,0,0.2);*/
        background: linear-gradient(to left,black,transparent); /* 우측으로 갈수록 어두워진다.  */
    }


    /* 동영상 화면 */
    .hero video {
        position: absolute;
        width: 100%;
        /*min-width: 100%;*/
        min-height: 30vh;
        z-index: -1;  /*heading 텍스트문자가 동영상위로 나타나게 한다.  */
        display: block;
    }



    /* 동영상 화면 공간 */
    .hero .heading {
        
        width: 100%;
        color: #fff;
        
    }



    /* 동영상화면속에 삽입할 글자 */
    .hero .heading h1{
        margin-top: 70%;  /* 글자 아래로 내리기 */
        text-align: center;
        font-weight: 500;  /* 글자 굵기를 정하는 수치 */
        line-height: 1.2em;
        font-size: 0.6m;
        position: absolute;   /* left: 50%; transform: translateX(-50%); */
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

    }


    .hero.heading > span{
        display: block;
        color: crimson;
    
    }

    }



    

















    @media screen and (max-width: 2048px){

    
    body {
        width:40rem;  /* 기준치로 900px 로잡았으니 손대지말것 */
        padding: 0;
        margin:0 auto;
        height: 100vh;
        text-align: center;
        background-color: #000;

    }




    /* 상단의 네비게이션바 허용 너비를 지정했다  */ 
    .navbar.navbar-dark.bg-dark.fixed-top{
        position: absolute;
        width:100%;   

    }



    /* 햄버거버튼 누르면 열리는 화면 */
    #offcanvasDarkNavbar{

        width: 100%;
    }




    .navbar-toggler{

        padding-right:0.62rem ; /* 10px */
    }


    body > nav > div > button > span{

        padding-right:0.62rem ;    
    }






    /* 황악회칙 텍스트  */
    #wrap {
        padding: 50px 20px 0 15px;
        margin: auto;
        width:100%;
        height:100vh;  
        text-align: justify;
        text-align-last: left;
    }




    /* index1 ~index6.html  */
    header{
        width:100%;
        height:3rem;
        background: #2E7FA4 ;
        border-radius: 10px 10px 5px 5px;
        
    }

    /* index1.html ~ 6페이지 */
    #wrap > header > h1{
            
            width:100%;
            border-style:outset;
            font-size: 1.8rem;
            font:bold; 
            justify-content: center;
            color:sandybrown;
            box-sizing: border-box;
            text-align: center;
            border-radius: 10px 10px 5px 5px;
        }
        


    #current{
        padding: 0 0 0 1px;
        font-size: 1em;
        font-weight: bold;
        color: rgb(251, 248, 248);
    }


    .left_column_boxes{
        padding: 2.5rem 0.625rem;  /* 40px 10px; */
    }



    /* 황악회칙 전체화면 */ 
    #wrap > section{

            float:left;
            padding: 50px 10 0 15px;
            width: 100%;
            height: 120vh;   /* 1500px; */
            background: rgb(250, 248, 248);
            text-align: justify;
            text-align-last: left;

        }





    #kakaotalk{
        background: #97cce4 ;
    }



    .kakaotalk img{
        margin:0;
        padding:0;
        display: inline-block;
        vertical-align: middle;
        width: 2rem;
        height: 2rem;
        
    }


    body > div > nav{

        height: 100vh;
        width: 90%;

    }


    /* 직지35회 황악회 메뉴 */
    #offcanvasDarkNavbarLabel{
        color: rgb(244, 115, 55);
        font-size: 1.8em;
        margin-left: 1.8rem;
    }


    /* Home 메뉴 */
    #offcanvasDarkNavbar > div.offcanvas-body > ul > li:nth-child(1) > a > h2{
        color: rgb(126, 135, 251);
        font-size: 1.4em;
        margin-left: 1.8rem;
    }



    /* 동기회칙 보기 메뉴 */
    .nav-link > span{
        color: rgb(188, 192, 249);
        font-size: 1.3em;

    }


    /* (*페이지) 메뉴 */
    #offcanvasDarkNavbar > div.offcanvas-body > ul > li:nth-child(2) > a{
        color: rgb(225, 218, 236);
        font-size: 0.7em;
        margin-left: 1.8rem;

    }





    /* Dropdown 메뉴 */
    #offcanvasDarkNavbar > div.offcanvas-body > ul > li.nav-item.dropdown > a{
        color: rgb(126, 135, 251);
        font-size: 1.4em;
        margin-left: 1.8rem;

    }

    /* 6 - X 페이지의   */
    #offcanvasDarkNavbar > div.offcanvas-body > ul > li.nav-item.dropdown > ul > li:nth-child(1) > a{
        margin-left: 1.8rem;
    }

    #offcanvasDarkNavbar > div.offcanvas-body > ul > li.nav-item.dropdown > ul > li:nth-child(3) > a{
        margin-left: 1.8rem;
    }

    #offcanvasDarkNavbar > div.offcanvas-body > ul > li.nav-item.dropdown > ul > li:nth-child(5) > a{
        margin-left: 1.8rem;
    }




    /* 상단의 네비바 밑에서 부터 동영상부분 허용 너비를 지정했다  */ 
    .hero{
        width:100%;   
        margin:0;
        position:  absolute;
    }


    /* 상단의 네비바 밑 동영상부분  */
    body > div > div.hero{

        border: 5px solid red;
        height: 100vh;
        width: 100%;
        position: absolute;
        overflow: hidden; /* 동영상 화면이 넘치는걸 숨겨준다  */
        display: block; /* 텍스트를 중앙정렬한다.  */
        justify-content: center;  /* 텍스트를 좌우 중앙정렬한다.  */
        align-items: center;  /* 수직중앙 정렬  */
        background: linear-gradient(to left,black,transparent); /* 우측으로 갈수록 어두워진다.  */
    }

    /* 동영상 화면 */
    .hero video {
        margin-top:28px;
        position: absolute;
        width: 100%;
        /*min-width: 100%;*/
        min-height: 20vh;
        z-index: -1;  /*heading 텍스트문자가 동영상위로 나타나게 한다.  */
        display: block;
    }



    /* 동영상 화면 공간 */
    .hero .heading {
        text-align: center;
        width: 100%;
        color: #fff;

        
    }

    /* 동영상화면속에 삽입할 글자 */
    .hero .heading h1{
        margin-top: 50%;  /* 글자 아래로 내리기 */
        font-weight: 900;  /* 글자 굵기를 정하는 수치 */
        line-height: 1.6em;
        font-size: 100%;
        position: absolute;   /* left: 50%; transform: translateX(-50%); */
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

    }




    .hero .heading span{
        display: block;
        color: crimson;

    }
        

        }
