body {
    background-color: #000;
}
#wrap {
    margin:0 auto;
    width:1000px;
    height:100vh;
    background: #009688 ;
}
header{
    width:100%;
    height:150px;
    background: #40c4ff ;

}
header h1{
    position: absolute;
    left: 640px ;
    top: 50px;

}
.left_column_boxes{
    padding: 100px 10px;
}
aside {
    float: left;
    width: 25%;
    height: 100vh;
    background: #a5d6a7;
}
aside > li{
    padding: 10px 10px;
}
section {
    float:left;
    padding: 0px 5px;
    width: 74%;
    height: 100vh;
    background: #fff;


}

@media (max-width:1220px) {
    #wrap {width: 95%;}
}
@media (max-width:768px) {
    #wrap {width: 95%;}
}
@media (max-width:600px) {
    #wrap {width: 100%;}
    header {height: 300px;}
    aside{ float:none; width:100%;}
    section{float:none; width:100%;}
}